<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvn4UqizzyGptsQh-YImxMtWOwutRrEIU</string>
	<key>GCM_SENDER_ID</key>
	<string>94494338441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oracleDigital</string>
	<key>PROJECT_ID</key>
	<string>oracle-1b9fa</string>
	<key>STORAGE_BUCKET</key>
	<string>oracle-1b9fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94494338441:ios:7369a2882a4a41a7b78558</string>
</dict>
</plist>